@import url(http://fonts.useso.com/css?family=Oswald);

html, body{
    margin: 0;
    padding: 0;
}

h1{
    margin-top: 0;
}

ul{
    margin: 0;
    padding: 0;
}

#menu ul li{
    float: right;
    list-style: none;   
    padding: 0 10px;
}

#menu ul li a{
    color: #4b4b4b;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, 'Hiragino Sans GB', 'Microsoft Yahei', simsun, sans-serif;
    font-size: 13px;
    outline: none;
    text-decoration: none;
    transition: color 0.8s;
}

#menu ul li a:hover{
    color: #000;
    text-decoration: underline;
    transition: color 0.8s;
}

#menu ul .name{
    font-family: 'Oswald';
    color: #505050;
}

.name{
    font-family: 'Oswald';
    color: #505050;
}

.big{
    font-size: 80px;
}

#header{
    background-image: url('http://luyou.xunlei.com/static/image/open/toolbar-bg-inverted.png');
    height: 51px;
    line-height: 51px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 100;
}

.L{
    float: left;
}

.R {
    float: right;
}

.c{
    clear: both;
}

#logo a{
    color: #4bbfc3;
    cursor: pointer;
    font-family: 'Oswald';
    font-size: 32px;
    text-decoration: none;
    transition: color 0.8s;
}

#logo a:hover{
    color: #000;
    transition: color 0.8s;
}

.section{
    color: #fff;
}

.box{
    padding: 0 50px;
    text-align: center;
}

.box img{
    padding: 10px;
    border: 1px solid #eeeeee;
    background-color: #FFFFFF;

}


.img1{
    transform:rotate(7deg);
    -ms-transform:rotate(7deg); 	/* IE 9 */
    -moz-transform:rotate(7deg); 	/* Firefox */
    -webkit-transform:rotate(7deg); /* Safari 和 Chrome */
    -o-transform:rotate(7deg); 	/* Opera */
}

.img2{
    margin-left: -20px;
    transform:rotate(-7deg);
    -ms-transform:rotate(-7deg); 	/* IE 9 */
    -moz-transform:rotate(-7deg); 	/* Firefox */
    -webkit-transform:rotate(-7deg); /* Safari 和 Chrome */
    -o-transform:rotate(-7deg); 	/* Opera */
}

.img3{
    margin-left: -20px;
    transform:rotate(4deg);
    -ms-transform:rotate(4deg); 	/* IE 9 */
    -moz-transform:rotate(4deg); 	/* Firefox */
    -webkit-transform:rotate(4deg); /* Safari 和 Chrome */
    -o-transform:rotate(4deg); 	/* Opera */
}

.img4{
    transform:rotate(10deg);
    -ms-transform:rotate(10deg); 	/* IE 9 */
    -moz-transform:rotate(10deg); 	/* Firefox */
    -webkit-transform:rotate(10deg); /* Safari 和 Chrome */
    -o-transform:rotate(10deg); 	/* Opera */

}

.img5{
    margin-left: -20px;
    transform:rotate(7deg);
    -ms-transform:rotate(7deg); 	/* IE 9 */
    -moz-transform:rotate(7deg); 	/* Firefox */
    -webkit-transform:rotate(7deg); /* Safari 和 Chrome */
    -o-transform:rotate(7deg); 	/* Opera */
}


.t_box{
    float: left;
    width: 300px;
    height: 100%;
    min-height: 100%;
    position: absolute;
    background: #000 url('http://itigen.qiniudn.com/t.jpg') no-repeat center;
}

#about_us{
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, 'Hiragino Sans GB', 'Microsoft Yahei', simsun, sans-serif;
    height: 100%;
    padding-left: 300px;
    padding-top: 31px;
    color: #fff;
}

#about_us .item{
    border-top: 1px solid #000;
    padding: 30px 30px 30px 50px;
    width: 100%;
}

#about_us .item_top{
    padding: 50px 30px 30px 50px;
    width: 100%;
}

.avatar{
    width: 100px;
    height: 100px;
    float: left;
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px;
}

#about_us .sub_item .team{
    padding-left: 30px;
    float: left;
}

#about_us a{
    color: #fff;
    transition: color 0.8s
}

#about_us a:hover{
    color: #4bbfc3;
    transition: color 0.8s
}

#about_us .sub_item{
    float: left;
    margin: 0 0 20px 0;
    width: 50%;
}
