@import url(http://fonts.useso.com/css?family=Oswald);

html, body{
    margin: 0;
    padding: 0;
}

h1{
    margin-top: 0;
}

ul{
    margin: 0;
    padding: 0;
}

#menu ul li{
    float: right;
    list-style: none;   
    padding: 0 10px;
}

#menu ul li a{
    color: #4b4b4b;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, 'Hiragino Sans GB', 'Microsoft Yahei', simsun, sans-serif;
    outline: none;
    text-decoration: none;
    transition: color 0.8s;
}

#menu ul li a:hover{
    color: #000;
    text-decoration: underline;
    transition: color 0.8s;
}

#menu ul .name{
    font-family: 'Oswald';
    color: #505050;
}

.name{
    font-family: 'Oswald';
    color: #505050;
}

.big{
    font-size: 80px;
}

#header{
    background-image: url('http://luyou.xunlei.com/static/image/open/toolbar-bg-inverted.png');
    height: 51px;
    line-height: 51px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 100;
}
.box{
    padding: 0 50px;
    text-align: center;
}

.L{
    float: left;
}

.R {
    float: right;
}

.c{
    clear: both;
}

#logo a{
    color: #4bbfc3;
    cursor: pointer;
    font-family: 'Oswald';
    font-size: 32px;
    text-decoration: none;
    transition: color 0.8s;
}

#logo a:hover{
    color: #000;
    transition: color 0.8s;
}
